[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"

[packages]
spotipy = "*"
prompt-toolkit = "*"

[requires]
python_version = "3.7"

[scripts]
yapf = "yapf -ri ."
